body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #392466;
}

.App {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #f8f3f3;
}


ul {
    list-style: none;
    padding: 20px;
}



button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #cecddb;
}

form {
    display: flex;
    flex-direction: column;
    color: #d9e4e1;
    font-size: 1.5em;
}

label {
    background-color: #392466;
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 12px;
}

.transactions-table {
    color: #fff;
}